<a href="https://colab.research.google.com/github/JaySanthanam/Programming-for-data/blob/main/Projects/Air_quality_mini_project_Jay.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Clean and wrangle air quality data

The following data file contains data collected at a roadside monitoring station.  You can see the data in a spreadsheet here: https://docs.google.com/spreadsheets/d/1XpAvrpuyMsKDO76EZ3kxuddBOu7cZX1Od4uEts14zco/edit?usp=sharing

The data contains:
* a heading line (Chatham Roadside) which needs to be skipped
* dates which are sometimes left- and sometimes right-justified indicating that they are not formatted as dates, rather they are text (so need to be converted to dates)
* times which are not all in the same format
* Nitrogen Dioxide levels which are, again, text and sometimes contain nodata
* Status which is always the same

### Project - clean, sort and wrangle the data

Read the dataset into a dataframe, skipping the first row   
Convert dates to date format  
Remove rows with nodata in the Nitrogen dioxide column  
Convert the Nitrogen dioxide levels values to float type  
Sort by Nitrogen dioxide level  
Create a new column for 'Weekdays' (use df['Date'].dt.weekday)  
Rename the column Nitrogen dioxide level to NO2 Level (V ug/m2)  
Remove the Status column  

The dataset can be viewed here:  https://drive.google.com/file/d/1aYmBf9il2dWA-EROvbYRCZ1rU2t7JwvJ/view?usp=sharing  and the data accessed here: https://drive.google.com/uc?id=1QSNJ3B1ku8kjXsA_tCBh4fbpDK7wVLAA This is a .csv file  

**NOTE:** Some useful references are included at the bottom of this spreadsheet.

Use the code cell below to work your code.

In [ ]:
def data_clean_wrangle(project_data):
  project_data['Date'] =  pd.to_datetime(project_data['Date'], format= "%d/%m/%Y")
  project_data["Nitrogen dioxide"] = project_data["Nitrogen dioxide"].replace('nodata', np.nan)
  project_data = project_data.dropna(subset = ["Nitrogen dioxide"])
  project_data["Nitrogen dioxide"] = pd.to_numeric(project_data["Nitrogen dioxide"], downcast="float")
  project_data_sorted = project_data.sort_values(by=['Nitrogen dioxide'])
  project_data_sorted['Weekdays'] = project_data_sorted['Date'].dt.weekday
  project_data_sorted = project_data_sorted.rename(columns={"Nitrogen dioxide": "NO2 Level (V ug/m2)"})
  project_data_sorted = project_data_sorted.drop(columns=['Status'])
  return project_data_sorted
import pandas as pd
import numpy as np
from datetime import datetime, timezone
url =  "https://drive.google.com/uc?id=1QSNJ3B1ku8kjXsA_tCBh4fbpDK7wVLAA"
project_data = pd.read_csv(url, skiprows=1)
project_data_sorted = data_clean_wrangle(project_data)
print(project_data_sorted.shape)
print(project_data_sorted.head())

(8672, 4)
           Date   Time  NO2 Level (V ug/m2)  Weekdays
3442 2020-05-23  11:00              0.31041         5
5844 2020-08-31  13:00              0.38390         0
7684 2020-11-16   5:00              0.40116         0
7756 2020-11-19   5:00              0.40229         3
3440 2020-05-23   9:00              0.41544         5

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

### Expand the dataset and show summary statistics for larger dataset
---

There is a second data set here covering the year 2021:  https://drive.google.com/uc?id=1aYmBf9il2dWA-EROvbYRCZ1rU2t7JwvJ  

Concatenate the two datasets to expand it to 2020 and 2021.  

Before you can concatenate the datasets you will need to clean and wrangle the second dataset in the same way as the first.  Use the code cell below.  Give the second dataset a different name. 

After the datasets have been concatenated, group the data by Weekdays and show summary statistics by day of the week.

In [ ]:
url =  "https://drive.google.com/uc?id=1aYmBf9il2dWA-EROvbYRCZ1rU2t7JwvJ"
project_data2 = pd.read_csv(url, skiprows=1)
project_data2_sorted = data_clean_wrangle(project_data2)
project_data_combined = pd.concat([project_data_sorted,project_data2_sorted], join='inner', ignore_index=True)
project_data_combined = project_data_combined.sort_values(by=['Weekdays'])
print(project_data_combined.groupby(by=["Weekdays"])[["NO2 Level (V ug/m2)"]].describe())
#print(project_data_combined.shape)
#print(project_data_combined.head())

         NO2 Level (V ug/m2)             ...
                       count       mean  ...        75%        max
Weekdays                                 ...
0                     2443.0  14.373540  ...  19.659705  82.596092
1                     2427.0  15.659355  ...  21.724490  80.278442
2                     2483.0  17.288498  ...  24.675005  73.409401
3                     2504.0  15.301346  ...  20.472977  72.000839
4                     2515.0  15.776768  ...  22.257344  71.219772
5                     2495.0  12.568014  ...  17.242315  62.471668
6                     2485.0  10.272859  ...  14.229000  53.096161

[7 rows x 8 columns]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

### Helpful references
---
Skipping rows when reading datasets:  
https://www.geeksforgeeks.org/how-to-skip-rows-while-reading-csv-file-using-pandas/  

Converting strings to dates:  
https://www.geeksforgeeks.org/convert-the-column-type-from-string-to-datetime-format-in-pandas-dataframe/

Dropping rows where data has a given value:  
https://www.datasciencemadesimple.com/drop-delete-rows-conditions-python-pandas/  
(see section Drop a row or observation by condition) 

Convert a column of strings to a column of floats:
https://datatofish.com/convert-string-to-float-dataframe/  

Create a new column from data converted in an existing column:  
https://www.geeksforgeeks.org/create-a-new-column-in-pandas-dataframe-based-on-the-existing-columns/  

Rename a column:  
https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.rename.html  

Remove a column by name:  
https://www.kite.com/python/answers/how-to-delete-columns-from-a-pandas-%60dataframe%60-by-column-name-in-python#:~:text=Use%20the%20del%20keyword%20to,the%20name%20column_name%20from%20DataFrame%20.