<a href="https://colab.research.google.com/github/JaySanthanam/Programming-for-data/blob/main/Projects/Automate_differences.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Test code for automated output file

#Load files

##new_df is new data including new year's data
##diff_df has old data (no changes or new data for the new year)

In [3]:
import pandas as pd
import numpy as np

def get_data(url): # this function gets data stored as csv file from a given url
  df = pd.read_csv(url)
  return df

url_new = "https://raw.githubusercontent.com/JaySanthanam/Programming-for-data/main/Datasets/LGBF_Data_Table_Jul23.csv"
new_df = get_data(url_new)
url_old = "https://raw.githubusercontent.com/JaySanthanam/Programming-for-data/main/Datasets/LGBF_Data_Table_May23.csv"
old_df = get_data(url_old)

In [4]:
old_df.dtypes

Code               object
LocalAuthority     object
Year               object
Indicator         float64
Numerator         float64
Denominator       float64
dtype: object

In [5]:
new_df.dtypes

Code               object
LocalAuthority     object
Year               object
Indicator         float64
Numerator         float64
Denominator       float64
dtype: object

In [ ]:
#new_df['Indicator'] = new_df['Indicator'].map("{:.4f}".format)
#new_df['Numerator'] = new_df['Numerator'].map('{:.4f}'.format)
#new_df['Denominator'] = new_df['Denominator'].map('{:.4f}'.format)

In [ ]:
#old_df['Indicator'] = old_df['Indicator'].map('{:.4f}'.format)
#old_df['Numerator'] = old_df['Numerator'].map('{:.4f}'.format)
#old_df['Denominator'] = old_df['Denominator'].map('{:.4f}'.format)

In [6]:
old_df = old_df.round(4)
new_df = new_df.round(4)

In [7]:
old_df.head()

    Code LocalAuthority     Year  Indicator  Numerator  Denominator
0  C&L01  Aberdeen City  2010-11     0.4067   785.0188    1922292.0
1  C&L01  Aberdeen City  2011-12     0.9225  1886.6034    2045051.0
2  C&L01  Aberdeen City  2012-13     4.3355  9381.0432    2163756.0
3  C&L01  Aberdeen City  2013-14     4.0441  8988.3238    2222588.0
4  C&L01  Aberdeen City  2014-15     3.4761  8645.5731    2487138.0

In [8]:
new_df.head()

    Code LocalAuthority     Year  Indicator  Numerator  Denominator
0  C&L01  Aberdeen City  2010-11     0.4067   785.0188    1922292.0
1  C&L01  Aberdeen City  2011-12     0.9227  1886.6034    2045051.0
2  C&L01  Aberdeen City  2012-13     4.3317  9381.0432    2163756.0
3  C&L01  Aberdeen City  2013-14     4.0486  8988.3238    2222588.0
4  C&L01  Aberdeen City  2014-15     3.4734  8645.5731    2487138.0

In [9]:
old_df.reset_index(drop=True).equals(new_df.reset_index(drop=True))

False

In [10]:
df1 = old_df
df2 =new_df

In [13]:
out = pd.merge(df1, df2, on=['Code', 'LocalAuthority', 'Year'], how='outer',
               suffixes=('_df1', '_df2')).set_index(['Code', 'LocalAuthority','Year'])

out.columns = pd.MultiIndex.from_tuples(out.columns.str.split('_').map(tuple)) \
                           .swaplevel()

diff_out = out['df1'].compare(out['df2'], keep_equal=True)

In [14]:
diff_out

                              Indicator              Numerator             \
                                   self       other       self      other
Code   LocalAuthority Year
C&L01  Aberdeen City  2011-12    0.9225      0.9227  1886.6034  1886.6034
                      2012-13    4.3355      4.3317  9381.0432  9381.0432
                      2013-14    4.0441      4.0486  8988.3238  8988.3238
                      2014-15    3.4761      3.4734  8645.5731  8645.5731
                      2015-16    3.5769      3.5777  9118.0708  9118.0708
...                                 ...         ...        ...        ...
ECON03 Scotland       2022-23       NaN     12.0400        NaN        NaN
ECON11 Scotland       2010-11       NaN  24581.1638        NaN        NaN
                      2021-22       NaN  25757.5868        NaN        NaN
ENV03c Scotland       2022-23       NaN      0.9060        NaN        NaN
SW07   Scotland       2022-23       NaN      0.7500        NaN        NaN

                              Denominator
                                     self      other
Code   LocalAuthority Year
C&L01  Aberdeen City  2011-12   2045051.0  2045051.0
                      2012-13   2163756.0  2163756.0
                      2013-14   2222588.0  2222588.0
                      2014-15   2487138.0  2487138.0
                      2015-16   2549135.0  2549135.0
...                                   ...        ...
ECON03 Scotland       2022-23         NaN        NaN
ECON11 Scotland       2010-11         NaN        NaN
                      2021-22         NaN        NaN
ENV03c Scotland       2022-23         NaN        NaN
SW07   Scotland       2022-23         NaN        NaN

[14522 rows x 6 columns]

In [15]:
from google.colab import files
diff_out. to_excel('diff_out.xlsx')
files.download('diff_out.xlsx')

In [ ]:
#diff = old_df.compare(new_df, keep_equal=True, keep_shape = True)

ValueError: ignored

#Identify the size difference between the two dataframes.

In [16]:
def dataframe_difference(df1, df2, which=None):
    """Find rows which are different between two DataFrames."""
    comparison_df = df1.merge(
        df2,
        indicator=True,
        how='outer'
    )
    if which is None:
        diff_df = comparison_df[comparison_df['_merge'] != 'both']  # Identify data changes/updates
    else:
        diff_df = comparison_df[comparison_df['_merge'] == which]
    return diff_df

In [17]:
df1 = old_df
df2 = new_df

out_diff = dataframe_difference(df1, df2)
out_diff

,Code,LocalAuthority,Year,Indicator,Numerator,Denominator,_merge
1,C&L01,Aberdeen City,2011-12,0.9225,1886.6034,2045051.0,left_only
2,C&L01,Aberdeen City,2012-13,4.3355,9381.0432,2163756.0,left_only
3,C&L01,Aberdeen City,2013-14,4.0441,8988.3238,2222588.0,left_only
4,C&L01,Aberdeen City,2014-15,3.4761,8645.5731,2487138.0,left_only
5,C&L01,Aberdeen City,2015-16,3.5769,9118.0708,2549135.0,left_only
...,...,...,...,...,...,...,...
45082,SW05,Scotland,2018-19,540.9913,832975.0341,29610.0,right_only
45083,SW05,Scotland,2019-20,576.3267,902815.7311,30125.0,right_only
45084,SW05,Scotland,2020-21,621.7854,917201.9434,28367.5,right_only
45085,SW05,Scotland,2021-22,652.5350,948309.5010,27947.5,right_only
45086,SW07,Scotland,2022-23,0.7500,NaN,NaN,right_only

In [ ]:
old_df

,Indicator_Code,LocalAuthority,Year,Indicator,Numerator,Denominator
0,C&L01,Aberdeen City,2010-11,0.4067,785.0188,1922292.0
1,C&L01,Aberdeen City,2011-12,0.9225,1886.6034,2045051.0
2,C&L01,Aberdeen City,2012-13,4.3355,9381.0432,2163756.0
3,C&L01,Aberdeen City,2013-14,4.0441,8988.3238,2222588.0
4,C&L01,Aberdeen City,2014-15,3.4761,8645.5731,2487138.0
...,...,...,...,...,...,...
33663,SW08,Scotland,2017-18,761.7435,341239.0000,447971.0
33664,SW08,Scotland,2018-19,792.6600,360451.0000,454736.0
33665,SW08,Scotland,2019-20,773.7831,360463.0000,465845.0
33666,SW08,Scotland,2020-21,484.2822,227524.0000,469817.0
33667,SW08,Scotland,2021-22,747.9233,357719.0000,478283.0

In [ ]:
new_df

,Indicator_Code,LocalAuthority,Year,Indicator,Numerator,Denominator
0,C&L01,Aberdeen City,2010-11,0.4067,785.0188,1922292.0
1,C&L01,Aberdeen City,2011-12,0.9225,1886.6034,2045051.0
2,C&L01,Aberdeen City,2012-13,4.3355,9381.0432,2163756.0
3,C&L01,Aberdeen City,2013-14,4.0441,8988.3238,2222588.0
4,C&L01,Aberdeen City,2014-15,3.4761,8645.5731,2487138.0
...,...,...,...,...,...,...
60773,SW07,Scotland,2017-18,0.8538,NaN,NaN
60774,SW07,Scotland,2018-19,0.8217,NaN,NaN
60775,SW07,Scotland,2019-20,0.8180,NaN,NaN
60776,SW07,Scotland,2020-21,0.8250,NaN,NaN
60777,SW07,Scotland,2021-22,0.7580,NaN,NaN

In [29]:
def getColChangedName(row):
    colsChanged = []
    for c in df1.columns.values:
        if row[c+"_diff"] == True:
            colsChanged.append(c)
    return ", ".join(colsChanged)


df1 = old_df.set_index(['Code', 'LocalAuthority','Year'])
df2 = new_df.set_index(['Code', 'LocalAuthority','Year'])

diffs = df1.merge(df2, left_index=True, right_index=True, suffixes=('_old', '_new'))

diff_cols = [c+"_diff" for c in df1.columns.values]

for c in df1.columns.values:
    diffs[c+"_diff"] = diffs[c+"_old"] != diffs[c+"_new"]

diffs["Record_Changed"] = diffs[diff_cols].sum(axis=1)/len(diff_cols) > 0


diffs = diffs[diffs["Record_Changed"] == 1]
diffs["Cols_Changed"] = diffs.apply(lambda row: getColChangedName(row), axis=1)

diffs

                              Indicator_old  Numerator_old  Denominator_old  \
Code  LocalAuthority Year
C&L01 Aberdeen City  2011-12         0.9225      1886.6034        2045051.0
                     2012-13         4.3355      9381.0432        2163756.0
                     2013-14         4.0441      8988.3238        2222588.0
                     2014-15         3.4761      8645.5731        2487138.0
                     2015-16         3.5769      9118.0708        2549135.0
...                                     ...            ...              ...
SW07  Scotland       2017-18         0.8538            NaN              NaN
                     2018-19         0.8217            NaN              NaN
                     2019-20         0.8180            NaN              NaN
                     2020-21         0.8250            NaN              NaN
                     2021-22         0.7580            NaN              NaN

                              Indicator_new  Numerator_new  Denominator_new  \
Code  LocalAuthority Year
C&L01 Aberdeen City  2011-12         0.9227      1886.6034        2045051.0
                     2012-13         4.3317      9381.0432        2163756.0
                     2013-14         4.0486      8988.3238        2222588.0
                     2014-15         3.4734      8645.5731        2487138.0
                     2015-16         3.5777      9118.0708        2549135.0
...                                     ...            ...              ...
SW07  Scotland       2017-18         0.8538            NaN              NaN
                     2018-19         0.8217            NaN              NaN
                     2019-20         0.8180            NaN              NaN
                     2020-21         0.8250            NaN              NaN
                     2021-22         0.7580            NaN              NaN

                              Indicator_diff  Numerator_diff  \
Code  LocalAuthority Year
C&L01 Aberdeen City  2011-12            True           False
                     2012-13            True           False
                     2013-14            True           False
                     2014-15            True           False
                     2015-16            True           False
...                                      ...             ...
SW07  Scotland       2017-18           False            True
                     2018-19           False            True
                     2019-20           False            True
                     2020-21           False            True
                     2021-22           False            True

                              Denominator_diff  Record_Changed  \
Code  LocalAuthority Year
C&L01 Aberdeen City  2011-12             False            True
                     2012-13             False            True
                     2013-14             False            True
                     2014-15             False            True
                     2015-16             False            True
...                                        ...             ...
SW07  Scotland       2017-18              True            True
                     2018-19              True            True
                     2019-20              True            True
                     2020-21              True            True
                     2021-22              True            True

                                        Cols_Changed
Code  LocalAuthority Year
C&L01 Aberdeen City  2011-12               Indicator
                     2012-13               Indicator
                     2013-14               Indicator
                     2014-15               Indicator
                     2015-16               Indicator
...                                              ...
SW07  Scotland       2017-18  Numerator, Denominator
                     2018-19  Numerator, Denominator
                     2019-20  Numerator, Denominator
                     2020-21  Numerator, Denominator
                     2021-22  Numerator, Denominator

[28558 rows x 11 columns]

#Actual code starts here

##1. first find new year's data that is added for this year

In [20]:
#find rows with added data from new year
temp = new_df.rename({'Year': 'Year_new'}, axis=1)
merged = temp.merge(old_df, how='left', left_on=['LocalAuthority','Code','Year_new'], right_on=['LocalAuthority','Code','Year'])
#merged = temp.merge(old_df, how='left', left_on=['LocalAuthority','Year_new'], right_on=['LocalAuthority','Year'],indicator='Match')
new_year_df = np.where(merged['Year'].isnull())[0]
new_year_df

array([12764, 15372, 15382, ..., 31239, 31284, 31584])

# create a new data frame with just the new year's data

In [21]:
#new year added data
new_Data = pd.concat([old_df,new_df]).drop_duplicates(subset=["Code", "LocalAuthority", 'Year'], keep=False)

In [22]:
new_Data

,Code,LocalAuthority,Year,Indicator,Numerator,Denominator
1126,C&L03,West Dunbartonshire,2021-22,0.0000,0.0,56005.0
16312,CORP-ASSET1,Aberdeen City,2010-11,0.8156,261.0,320.0
16313,CORP-ASSET1,Aberdeen City,2011-12,0.8146,246.0,302.0
16314,CORP-ASSET1,Aberdeen City,2012-13,0.8091,250.0,309.0
16315,CORP-ASSET1,Aberdeen City,2013-14,0.7961,246.0,309.0
...,...,...,...,...,...,...
31168,ECON03,Scotland,2022-23,12.0400,NaN,NaN
31228,ECON11,Scotland,2010-11,24581.1638,NaN,NaN
31239,ECON11,Scotland,2021-22,25757.5868,NaN,NaN
31284,ENV03c,Scotland,2022-23,0.9060,NaN,NaN
31584,SW07,Scotland,2022-23,0.7500,NaN,NaN

In [23]:
#new year added data
new_Data = new_df.loc[new_year_df]
new_Data = new_Data.rename(columns={"Indicator": "New_Indicator", "Numerator": "New_Numerator", "Denominator": "New_Denominator"})
new_Data = new_Data.drop_duplicates()
new_Data

,Code,LocalAuthority,Year,New_Indicator,New_Numerator,New_Denominator
12764,CORP01,Shetland Islands,2010-11,0.0000,0.0,2.027567e+05
15372,CORP11,Aberdeen City,2022-23,1.4178,1614435.0,1.138714e+06
15382,CORP11,Aberdeenshire,2022-23,1.3990,1514262.0,1.082425e+06
15392,CORP11,Angus,2022-23,0.8650,855865.0,9.893970e+05
15402,CORP11,Argyll & Bute,2022-23,1.2774,686480.0,5.373840e+05
...,...,...,...,...,...,...
31168,ECON03,Scotland,2022-23,12.0400,NaN,NaN
31228,ECON11,Scotland,2010-11,24581.1638,NaN,NaN
31239,ECON11,Scotland,2021-22,25757.5868,NaN,NaN
31284,ENV03c,Scotland,2022-23,0.9060,NaN,NaN
31584,SW07,Scotland,2022-23,0.7500,NaN,NaN

In [24]:
from google.colab import files
new_Data. to_excel('newyear_Data.xlsx')
files.download('newyear_Data.xlsx')

# Create a dataframe with just changes/updates to old data

In [25]:
#make df with only changes
new_update= new_df.drop(new_df.index[new_year_df], inplace=False).reset_index(drop=True)
new_update

        Code LocalAuthority     Year  Indicator  Numerator  Denominator
0      C&L01  Aberdeen City  2010-11     0.4067   785.0188    1922292.0
1      C&L01  Aberdeen City  2011-12     0.9227  1886.6034    2045051.0
2      C&L01  Aberdeen City  2012-13     4.3317  9381.0432    2163756.0
3      C&L01  Aberdeen City  2013-14     4.0486  8988.3238    2222588.0
4      C&L01  Aberdeen City  2014-15     3.4734  8645.5731    2487138.0
...      ...            ...      ...        ...        ...          ...
30560   SW07       Scotland  2017-18     0.8538        NaN          NaN
30561   SW07       Scotland  2018-19     0.8217        NaN          NaN
30562   SW07       Scotland  2019-20     0.8180        NaN          NaN
30563   SW07       Scotland  2020-21     0.8250        NaN          NaN
30564   SW07       Scotland  2021-22     0.7580        NaN          NaN

[30565 rows x 6 columns]

In [26]:
np.array_equal(old_df,new_df)

False

In [27]:
old_df.values==new_update.values

<ipython-input-27-e2be420cbd72>:1: DeprecationWarning: elementwise comparison failed; this will raise an error in the future.
  old_df.values==new_update.values

False

In [28]:
#compare the old df to find the changes
comparison_values = old_df.values == new_update.values
rows,cols=np.where(comparison_values==False)
rows

<ipython-input-28-6d539fd913ec>:2: DeprecationWarning: elementwise comparison failed; this will raise an error in the future.
  comparison_values = old_df.values == new_update.values

ValueError: ignored

#Add new columns with the changes (keeping the old values)

In [ ]:
change_df = pd.DataFrame()
change_df = old_df.loc[rows]
AddNew_df = new_update.loc[rows]
change_df.insert(loc = 4, column = "New_Indicator", value = AddNew_df["Indicator"].values)
change_df.insert(loc = 6, column = "New_Numerator", value = AddNew_df["Numerator"].values)
change_df.insert(loc = 8, column ="New_Denominator", value = AddNew_df["Denominator"].values)
change_df = change_df.drop_duplicates()
change_df

,Code,LocalAuthority,Year,Indicator,New_Indicator,Numerator,New_Numerator,Denominator,New_Denominator
35,C&L01,Angus,2021-22,6.2791,6.2985,3551.1012,3562.0923,565544.0,565544.0
59,C&L01,Clackmannanshire,2021-22,5.2879,4.8465,610.5016,559.5432,115452.0,115452.0
84,C&L01,East Ayrshire,2010-11,2.5983,2.6003,3094.4776,3094.4776,1190983.0,1190983.0
300,C&L01,Scotland,2010-11,4.3749,3.8943,198956.0517,2859.0952,45459818.0,734048.0
301,C&L01,Scotland,2011-12,3.9170,3.1828,188806.0265,2587.0990,48202343.0,812833.0
...,...,...,...,...,...,...,...,...,...
31155,SW07,West Lothian,2017-18,0.8707,0.8538,NaN,NaN,NaN,NaN
31156,SW07,West Lothian,2018-19,0.8542,0.8217,NaN,NaN,NaN,NaN
31157,SW07,West Lothian,2019-20,0.8125,0.8180,NaN,NaN,NaN,NaN
31158,SW07,West Lothian,2020-21,0.8430,0.8250,NaN,NaN,NaN,NaN
31159,SW07,West Lothian,2021-22,0.8075,0.7580,NaN,NaN,NaN,NaN

In [ ]:
from google.colab import files
change_df. to_excel('Data_changes.xlsx')
files.download('Data_changes.xlsx')

#Add the new year's data in the end in the new value columns

In [ ]:
#Add all changes including new data for the new year

All_changes = pd.concat([change_df, new_Data],  join="outer", axis=0).reset_index()
#All_changes = pd.concat([new_Data, change_df], ignore_index=True)
All_changes = All_changes.sort_values(by=['Year','LocalAuthority'], ascending=[False, True])
All_changes

,index,Code,LocalAuthority,Year,Indicator,New_Indicator,Numerator,New_Numerator,Denominator,New_Denominator
110,407,C&L02,Aberdeen City,2021-22,2.4476,2.1544,3297.3084,3192.3941,1347180.0,1481816.0
506,803,C&L03,Aberdeen City,2021-22,3.1229,47.2555,3718.9642,415.6607,1190854.0,8796.0
865,1162,C&L04,Aberdeen City,2021-22,14269.6162,21752.0543,3245.0000,1875.0,227430.0,86220.0
2317,2614,CHN01,Aberdeen City,2021-22,5902.8563,5711.4908,83136.1361,52134.0,14084.0,9128.0
2713,3010,CHN02,Aberdeen City,2021-22,7107.2086,7866.6148,71363.7459,59298.0,10041.0,7538.0
...,...,...,...,...,...,...,...,...,...,...
23235,23532,ENV04e,South Ayrshire,2007-11,0.4461,4372.3525,NaN,1374.49,NaN,314360.0
23247,23544,ENV04e,South Lanarkshire,2007-11,0.3873,10411.2838,NaN,953.4628,NaN,91580.0
23259,23556,ENV04e,Stirling,2007-11,0.4834,3608.1957,NaN,324.2318,NaN,89860.0
23271,23568,ENV04e,West Dunbartonshire,2007-11,0.3585,11269.645,NaN,2052.6478,NaN,182140.0
23283,23580,ENV04e,West Lothian,2007-11,0.2853,15435.0184,NaN,3535.563,NaN,229060.0

In [ ]:
from google.colab import files
change_df. to_excel('All_changes.xlsx')
files.download('All_changes.xlsx')

#Highlight changes in the new value columns

In [ ]:
def set_colormap(x):
    c = f'background-color: yellow'
    # DataFrame of styles
    df1 = pd.DataFrame('', index=x.index, columns=x.columns)
    #set new columns by condition
    columns = len(x.columns)
    for i in range (4,columns-1,2):
        col1 = x.columns[i]
        col2 = x.columns[i+1]
        m = x[col1]!=x[col2]
        # set columns by condition
        df1.loc[m, col2] = c
    return df1

All_changes = All_changes.style.apply(set_colormap, axis=None)

#Write to CSV.

In [ ]:
from google.colab import files
All_changes. to_excel('Final_changes.xlsx')
files.download('Final_changes.xlsx')

#Stops here!!!!!!!!!!!!!!!!