<a href="https://colab.research.google.com/github/JaySanthanam/Programming-for-data/blob/main/Worksheets/10_2_Movies_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Movies Mini-project
---

In the previous worksheet you converted an SQL relational database to a single pandas dataframe and downloaded it. You will be analysing it today.

If you were unable to download the file, there is a copy located here: 

"https://github.com/lilaceri/Working-with-data-/blob/main/Data%20Sets%20for%20code%20divisio/movies.csv?raw=true"

### Inspect the dataset 
---

In [6]:
from google.colab import files
import io
import pandas as pd
import numpy as np
import matplotlib  
import matplotlib.pyplot as plt
import seaborn as sns

def get_data():
  !rm movies.csv
  # upload a set of chosen files then read a specified file
  uploaded = files.upload()
  df = pd.read_csv(io.BytesIO(uploaded['movies.csv']))
  return df 

mov_data = get_data()
print(mov_data.info())
print(mov_data.describe())

rm: cannot remove 'movies.csv': No such file or directory

Saving movies.csv to movies.csv
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 368894 entries, 0 to 368893
Data columns (total 7 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  368894 non-null  int64
 1   first_name  368894 non-null  object
 2   last_name   368894 non-null  object
 3   name        368894 non-null  object
 4   year        368894 non-null  int64
 5   rank        113376 non-null  float64
 6   genre       368894 non-null  object
dtypes: float64(1), int64(2), object(4)
memory usage: 19.7+ MB
None
          Unnamed: 0           year           rank
count  368894.000000  368894.000000  113376.000000
mean   184446.500000    1969.442222       5.995124
std    106490.669438      29.082051       1.540330
min         0.000000    1888.000000       1.000000
25%     92223.250000    1947.000000       5.100000
50%    184446.500000    1976.000000       6.200000
75%    276669.750000    1996.000000       7.100000
max    368893.000000    2007.000000       9.900000

### Clean the dataset 
---

In [14]:
mov_df = mov_data.drop_duplicates()
print(mov_df.info())

mov_df_rank = mov_df.dropna()
print(mov_df_rank.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 368894 entries, 0 to 368893
Data columns (total 7 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  368894 non-null  int64
 1   first_name  368894 non-null  object
 2   last_name   368894 non-null  object
 3   name        368894 non-null  object
 4   year        368894 non-null  int64
 5   rank        113376 non-null  float64
 6   genre       368894 non-null  object
dtypes: float64(1), int64(2), object(4)
memory usage: 22.5+ MB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 113376 entries, 77 to 368891
Data columns (total 7 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  113376 non-null  int64
 1   first_name  113376 non-null  object
 2   last_name   113376 non-null  object
 3   name        113376 non-null  object
 4   year        113376 non-null  int64
 5   rank        113376 non-null  float64
 6   genre       113376 non-null  object
dtypes: float64(1), int64(2), object(4)
memory usage: 6.9+ MB
None

Only the column of rank has null values. I prefer to keep the original data frame the same for all the other column calculations that doesn't involve rank. This is so that I do not lose other information. From here on, I will be using mov_df for all calculation that doesn't require the rank column. I will be using mov_df_rank for those that require rank column.

### How many movies of each genre are there?
---

In [15]:
genres = mov_df['genre'].value_counts()
print(genres)

Short          72894
Drama          72635
Comedy         54667
Documentary    35698
Animation      17038
Romance        13562
Action         12890
Crime          12610
Family         11074
Thriller       10681
Adventure       8598
Western         8231
Horror          7423
Musical         6843
Sci-Fi          4957
Mystery         4951
Fantasy         4871
Music           4444
War             4398
Film-Noir        429
Name: genre, dtype: int64

### Which director has the highest ranked movies?
---

In [35]:
dir_toprank = mov_df_rank.sort_values(by = ["rank"], ascending = False)
f_name = dir_toprank['first_name'].iloc[0]
l_name = dir_toprank['last_name'].iloc[0]
dirname = f_name+" "+l_name
print("The director with highest ranked movie is", dirname)

The director with highest ranked movie is Jonathan Demme

### How many movies have ranks of over 9?
---

In [43]:
high_rank = mov_df_rank[mov_df_rank['rank'] > 9].count()
high_rank[0]

1483

### Plot a bar chart of mean rank and genre
---

### Plot a pie chart of how many movies of each genre there are 
---

### Plot a graph showing the mean Rank for each year

### What else can you find out from this dataset?
---
Make a plan of 3 further things you can do to interrogate and analyse this dataset

Type your answer here  

1.  
2.  
3.

### Complete the tasks you have set out in the exercise above. 
---

# Reflection
----

## What skills have you demonstrated in completing this notebook?

Your answer:

## What caused you the most difficulty?

Your answer: