<a href="https://colab.research.google.com/github/JaySanthanam/Programming-for-data/blob/main/Worksheets/Sea_Level_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Using numpy to look for a correlation between time data and sea level rise
---

### Data Source
Global Average Absolute Sea Level Change, 1880-2014 from the US Environmental Protection Agency using data from CSIRO, 2015; NOAA, 2015.
https://datahub.io/core/sea-level-rise

The data describes annual sea levels from 1880 to 2013.  Measures are adjusted using two standards: Commonwealth Scientific and Industrial Research Organisation(CSIRO) and National Oceanic and Atmospheric Administration (NOAA)  

Raw Data file:  https://raw.githubusercontent.com/freeCodeCamp/boilerplate-sea-level-predictor/master/epa-sea-level.csv

For this exercise:
*  import the pandas library
*  import the numpy library
*  read the csv dataset containing data on sea-levels from the year 1880 to 2013 into a dataframe (df)
*  use df.head() and df.info() to inspect the data and the column data types

In [1]:
import pandas as pd
import numpy as np

def get_data(url): # this function gets data stored as csv file from a given url
  df = pd.read_csv(url)
  return df

url = "https://raw.githubusercontent.com/freeCodeCamp/boilerplate-sea-level-predictor/master/epa-sea-level.csv"
sea_level = get_data(url)
print(sea_level.head()) #first 5 rows
print(sea_level.info()) #technical summary

   Year  CSIRO Adjusted Sea Level  ...  Upper Error Bound  NOAA Adjusted Sea Level
0  1880                  0.000000  ...           0.952756                      NaN
1  1881                  0.220472  ...           1.173228                      NaN
2  1882                 -0.440945  ...           0.464567                      NaN
3  1883                 -0.232283  ...           0.665354                      NaN
4  1884                  0.590551  ...           1.464567                      NaN

[5 rows x 5 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134 entries, 0 to 133
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Year                      134 non-null    int64
 1   CSIRO Adjusted Sea Level  134 non-null    float64
 2   Lower Error Bound         134 non-null    float64
 3   Upper Error Bound         134 non-null    float64
 4   NOAA Adjusted Sea Level   21 non-null     float64
dtypes: float64(4), int64(1)
memory usage: 5.4 KB
None

### Then
---
1.  Calculate some statistics on the level array, eg:
*  mean
*  standard deviation
*  total 

2.  Use the fact that the arrays are aligned (e.g. the first number in the level array is linked to the first year in the year array and display:

*  the year with the biggest rise in level
*  the year with the lowest rise in level

*(**Hint**:  to do this you can use a new numpy function np.where() )*
 ```
np.where(array == value_to_find)
```
*There is some reference material [here](https://thispointer.com/find-the-index-of-a-value-in-numpy-array/)*

**Note**: ```np.where(...)``` will return a tuple containing all indexes where that value was found.  You can print all, or you can print the first value (it is likely that there will only be one in this case) using [0][0].  *With the correct code you should get an answer of 2012*


3.  Calculate the Pearson product-moment correlation coefficient between year and the rise in sea level.  (*Expected output:  0.98 when rounded to 2 decimal places*)

Before proceeding any further, I want to get rid of null values to make life easier for me. All columns except NOAA adjusted sea level have 134 non null values while NOAA adjusted sea level colum has 21! So I will drop that off to make a new data frame.

In [19]:
df_new = sea_level.drop(columns=['NOAA Adjusted Sea Level'])
sea_level_arr = np.array(df_new["CSIRO Adjusted Sea Level"],np.float64)
sea_year_arr = np.array(df_new["CSIRO Adjusted Sea Level"],np.float64)
sea_mean = np.mean(sea_level_arr)
sea_std = np.std(sea_level_arr)
sea_total = np.sum(sea_level_arr)
print("The average sea level is", sea_mean, "\nThe standard deviation of sea_level is", sea_std, "\nThe total sea level is", sea_total)
max_level = np.amax(sea_level_arr)
min_level = np.amin(sea_level_arr)
max_index = np.where(sea_level_arr == max_level)
max_year = max_index[0] +1880
min_index = np.where(sea_level_arr == min_level)
min_year = min_index[0] +1880
print("The sea level was highest at", max_level, "in the year", max_year)
print("The sea level was lowest at", min_level, "in the year", min_year)

The average sea level is 3.650340811880598
The standard deviation of sea_level is 2.476399631426498
The total sea level is 489.1456687920001
The sea level was highest at 9.326771643999999 in the year [2012]
The sea level was lowest at -0.440944881 in the year [1882]

# Reflection
----

## What skills have you demonstrated in completing this notebook?

Your answer:

## What caused you the most difficulty?

Your answer: